<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <a class="logo navbar-brand" routerLink="/home">Weather</a>
      <!-- Navbar brand -->
      <a class="navbar-brand" href=""><img id="MDB-logo"
          src="../../assets/images/rain-cloud.png" alt="Logo"
          draggable="false" height="30" /></a>
  
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <ul class="navbar-right navbar-nav ms-3 ">
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" routerLink="/users" >Employee List</a>
          </li>
        </ul>
        <ul class="navbar-right navbar-nav ms-3 ">
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" routerLink="/home" >Weather Display</a>
          </li>
        </ul>
        <ul class="navbar-right navbar-nav ms-3 ">
          <li class="nav-item me-3">
            <a class="nav-link d-flex align-items-center" routerLink="/login" >Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->